<%- include('./partials/head') %>

    <main>
        <span class="uitgelichte-kop">Uitgelichte kop</span> <br>
        <span class="uitgelichte-intro">Uitgelichte intro</span> <br>
        <section class="grid-container">
            <% posts.forEach(post => { %>
                
                <% post.categories.forEach(function(categoryId, index) { %>
                    <% if (index === 0) { %>
                        <% const category = categories.find(category => category.id === categoryId); %>
                        <% if (category) { %>
                            <a href="<%= category.slug %>/<%= post.slug %>" class="article-link"> <!-- Not working correctly-->
                        <% } %>
                    <% } %>
                <% }); %>
                    <article class="article">
                        <img src="<%= post.jetpack_featured_media_url %>" alt="Post Image">
                        <h3 class="normale-kop">
                            <%- post.title.rendered%>
                        </h3>
                        <hr>
                        <span class="meta auteur"><%= post.yoast_head_json.author %></span><span class="meta informatie"><%= post.yoast_head_json.twitter_misc["Geschatte leestijd"] %></span>
                    </article>
                </a>
            <% }); %>
        </section>
        
        
    </main>

    <%- include('./partials/foot') %>